@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

:root {
  --black-color: rgba(25, 24, 24, 1);
  --white-color: rgba(255, 255, 255, 1);
  --yellow-color: rgba(235, 217, 107, 1);
  --gray-color: rgba(127, 127, 127, 1);
  --light-gray-color: rgba(211, 211, 211, 1);
  --red-color: rgba(234, 23, 1, 1);
  --circle-color: rgba(239, 236, 235, 1);
  --lavender-color: rgba(230, 230, 250, 1);
  --light-Wood: rgba(218, 165, 32, 1);
  --gold: rgba(255, 215, 0, 1);
  --charcoal: rgba(54, 69, 79, 1);
  --Periwinkle: rgba(204, 204, 255, 1);
  --tan: rgba(210, 180, 140, 1);
  --fuchisa: rgba(255, 0, 255, 1);
  --Green: rgba(0, 128, 0, 1);
  --navy: rgba(0, 0, 128, 1);
  --Light-Gray: rgba(217, 217, 214, 1);
  --Blush: rgba(255, 182, 193, 1);
  --burnt-orange: rgba(255, 69, 0, 1);
  --light-Blue: rgba(173, 216, 230, 1);
  --purple-color: rgba(128, 0, 128, 1);
  --invisible: rgba(255, 255, 255, 0.2);
}

/* utility class */

.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a,
li {
  font-size: 1.5rem;
  font-weight: 200;
  font-style: light;
  list-style: none;
  text-decoration: none;
}

/* end of utility class */

.hero-section {
  background-image: url(../img/scenic-mountains-landscape-after-rain-carpathians-ukraine.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
  min-height: 600px;
  border-bottom: solid 4px var(--black-color);
  border-radius: 11px 14px;
  padding: 10rem 4px 0 4px;
}

.first-nav {
  padding: 0 2rem 0 2rem;
}

.logo-img {
  object-fit: cover;
  height: 6.5rem;
  border-radius: 10rem;
}

a svg {
  object-fit: cover;
  height: 3.5rem;
  border-radius: 10rem;
  padding: 14px;
  margin: 0 1rem 1rem 1rem ;
}

.header-container {
  gap: 4rem;
  height: 500px;
  background: var(--invisible);
}

.belvarda-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.mission-statement {
  font-size: 1.5rem;
  color: var(--light-Wood);
  line-height: 1;
  text-transform: capitalize;
  padding: 1rem;
}

.utility-link {
  background: var(--invisible);
  border-radius: 11px 14px;
}

a img {
    object-fit: cover;
    /* height: 3.5rem; */
    border-radius: 10rem;
}

.card-section {
    padding: 1.5rem;
    /* background-color: #080008; */
}

.container-img {
     height: 40%;
     width: 100%;
    
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 1.5rem;
   margin-top: 1.5rem;
   border-radius: 11px 14px;

    background-color: var(--lavender-color);
}
.postcard_bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
  
    transition: width 0.2s ease;
  }
  .charcoal-bar {
    background-color: var(--charcoal);
  }

  .furniture-bar {
    background-color: var(--light-Wood);
}

  .honey-bar {
    background-color: var(--gold);

  }

  .palm-oil-bar {
    background-color: var(--burnt-orange);
  }


.card-text {
    height: 60%;
    padding: 0 10px 20px 10px;
    
    gap: 0.8rem;
}

.card-text p {
    padding: 0;
    font-weight: 500;
}

.card-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.honey-btn, .charcoal-btn, .furniture-btn {
    margin-top: 1.5rem;
   
}

.place-order  a {
    color: var(--circle-color);
}



.contact-us-section {
    background-color: rgba(255, 207, 87, 1 );
}

.form-container {
    /* height: 500px; */
    /* padding: 0 3.5em; */
    margin: 0 auto ;
    
   background-color:  #080008;
}

.form-left-container {
    color: var(--light-gray-color-color);
    /* display:flex; */
    flex:1;
    height:300px;
     margin: 6.5rem 0 ;
    /* justify-content:center;
    align-items:center; */
    border-radius: 11px 14px;
    /* margin-left: 4rem; */
}

.form-left-inner-container {
 
    max-width: fit-content;
}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

.form-right-container {
    /* display:flex; */
    flex:1;
   border: 2px solid black;
    background-color: var(--light-gray-color);
    /* justify-content:center; */
    /* align-items:center; */
    border-radius: 11px 14px;
    width: 500px;
}




/* .charcoal-btn :hover {
    background: var(---circle-color);
    color: var(--circle-color);
} */



/* .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .navbar-brand img {
    object-fit: cover;
    height: 3.5rem;
    border-radius: 10rem;
}
 .first-nav .hamburger {
    margin-left: auto;
    max-width: fit-content;
    margin-bottom: 1rem;

 } */

/* img {
    object-fit: cover;
    height: 3.5rem;
    border-radius: 10rem;
} */

/* .main-text {
    margin: 0 auto;
    width: 100%;
    padding: 12rem;
    display: flex;
    flex-direction: column;

}

.services {
    margin: 0 auto;
     overflow: hidden;
    max-height: 400px;
}

.services .service-list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
    margin: 0 2rem 0 2rem;
}

.card-section {
    display: flex;
    flex-direction: column;
   
}


.postcard {
    display: flex;
    
    flex-direction: row;
    max-height: 540px;
    margin: 1rem 10px 2rem 10px;
    color: black;
    border-radius: 11px 14px;
}

.postcard-1{
    background-color: #adb5be;
}

.postcard-2 {
    flex-direction: row-reverse;
    background-color: #fff100;
}

.postcard-3 {
    background-color: #fd7e14;
}

a {
    text-decoration: none;
    color: black;
}

.postcard .card-img {
        min-height: 540px;
        width: 100%;
        object-fit: cover;
   
        border-radius: 11px 14px;
      
}

.card-img-text {

  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
   gap: 1rem;
  margin: 2px 10px 10px 2px;
  width: 100%;
  min-height: 540px;
}

.text-container {
    max-width: fit-content;
   
   margin: 0 2px 0 2px;
}

 */

@media (min-width: 475px) {
  .container-custom {
    max-width: 475px;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .container-custom {
    max-width: 1024px;
  }

  .first-nav {
    display: flex;
    flex-direction: column;
  }

  /* .navbar-toggler {
 display: none;
    } */
}

/* 
  @media (min-width: 640px) {
    
    .container-custom {
        max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    
    .container-custom {
        max-width: 768px;
    }
  }


  @media (min-width: 1280px) {
    
    .container-custom {
        max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    
    .container-custom {
        max-width: 1536px;
    }
  } */
